# Detectron2 License Plate Detector
# Install with: pip install -r requirements.txt
# Core dependencies (CPU version)
--index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# Additional from PyPI
--extra-index-url https://pypi.org/simple/
opencv-python>=4.5
Pillow>=8.0
pycocotools
fvcore
iopath

# Detectron2 - install separately with:
# pip install --no-build-isolation -e git+https://github.com/facebookresearch/detectron2.git#egg=detectron2

#easyocr for OCR functionality
easyocr